image:
  - Visual Studio 2019
version: "{build}"
clone_depth: 1
init:
  - git config --global core.longpaths true
  - git config --global core.autocrlf input
branches:
  only:
    - master
install:
  - cmd: SET PATH=C:\msys64;C:\msys64\mingw64\bin;%PATH%
  - rename "C:\Program Files\Git\usr\bin\sh.exe" "sh-ignored.exe"
environment:
  matrix:
    - BUILD_TYPE: Release
      BOOST_ROOT: C:\Libraries\boost_1_71_0
      BOOST_LIBRARYDIR: C:\Libraries\boost_1_71_0\libs
    - BUILD_TYPE: Debug
      BOOST_ROOT: C:\Libraries\boost_1_71_0
      BOOST_LIBRARYDIR: C:\Libraries\boost_1_71_0\libs
build_script:
  - dir C:\Libraries\boost_1_71_0
  - dir C:\Libraries\boost_1_71_0\libs
  - dir C:\Libraries\boost_1_71_0\lib64-msvc-14.2
  - cmake -G "MinGW Makefiles" -S . -B %BUILD_TYPE%-Build -D CMAKE_BUILD_TYPE=%BUILD_TYPE%
  - cmake --build %BUILD_TYPE%-Build --target tests
  - cd %BUILD_TYPE%-Build\tests
  - start tests.exe --log_level=all
  - cd ..\..
  - cmake --build ${BUILD_DIR} --target path_planning
